<nav id="w0" class="navbar navbar-expand-lg navbar-light bg-light navbar">
  <div class="container">
    <a class="text-gradient navbar-brand" href="/"><i class="fas fa-solid fa-dolly" aria-hidden="true"></i> JUST BUY
      ITT</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#w0-collapse"
      aria-controls="w0-collapse" aria-expanded="true" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div id="w0-collapse" class="navbar-collapse collapse">
      <form class="d-flex" action="/search">
        <input class="form-control me-2 nav-search-bar" type="search" placeholder="What are you looking for ?"
          name="keyword" value="">
        <button type="button" class="btn btn-secondary rounded ml-2 text-gradient" style="border: 1px solid #ced4da"><i
            class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <ul id="w1" class="navbar-nav me-auto mb-2 mb-md-0 ml-auto nav">
        <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/contact.html">Contact</a></li>
        <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/signup.html">Signup</a></li>
        <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/login.html">Login</a></li>
      </ul>
      <div class="d-flex">
        <a href="/cart.html">
          <button class="btn btn-outline-dark rounded" type="submit">
            <i class="fa-solid fa-cart-shopping"></i>
            Cart
            <span id="cart-quantity" class="badge bg-dark text-white ms-1 rounded-pill">2</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>