<div id="w0" class="list-view">
  <div class="summary">Showing <b>1-4</b> of <b>4</b> items.</div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <!-- Product Item 1 -->
    <div class="col mb-4 item">
      <div class="card">
        <!-- Product image-->
        <div class="img-wrapper">
          <a href="/product1details.html">
            <img class="card-img-top img-zoom-hover img-fluid" src="../public/img/product 1.jpg" alt="...">
          </a>
        </div>
        <!-- Product details-->
        <div class="card-body pt-4 px-4 pb-0">
          <div class="text-center">
            <!-- Product name-->
            <p class="h5 card-text fw-bolder">Samsung ZFlip</p>
            <!-- Product price-->
            $ 1 999,00
          </div>
          <div class="card-text">
            <div class="d-flex justify-content-center align-items-center">
              <div class="small-ratings">
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <p class="h6 card-text text-center review-count">12 Reviews</p>
              </div>
            </div>
          </div>
          <!-- Product actions -->
          <div class="text-center py-4">
            <a class="btn btn-outline-dark mt-auto btn-add-to-cart rounded" href="/cart/add">
              Add to cart
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
    <!-- Product Item 2 (Copy and paste for other items) -->
    <div class="col mb-4 item">
      <div class="card">
        <!-- Product image-->
        <div class="img-wrapper">
          <a href="/product2details.html">
            <img class="card-img-top img-zoom-hover img-fluid" src="../public/img/product 2.jpg" alt="...">
          </a>
        </div>
        <!-- Product details-->
        <div class="card-body pt-4 px-4 pb-0">
          <div class="text-center">
            <!-- Product name-->
            <p class="h5 card-text fw-bolder">Samsung A3</p>
            <!-- Product price-->
            $ 999,00
          </div>
          <div class="card-text">
            <div class="d-flex justify-content-center align-items-center">
              <div class="small-ratings">
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <p class="h6 card-text text-center review-count">12 Reviews</p>
              </div>
            </div>
          </div>
          <!-- Product actions -->
          <div class="text-center py-4">
            <a class="btn btn-outline-dark mt-auto btn-add-to-cart rounded" href="/cart/add">
              Add to cart
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <!-- Product Item 3 (Copy and paste for other items) -->
    <div class="col mb-4 item">
      <div class="card">
        <!-- Product image-->
        <div class="img-wrapper">
          <a href="/product3details.html">
            <img class="card-img-top img-zoom-hover img-fluid" src="../public/img/product 3.jpg" alt="...">
          </a>
        </div>
        <!-- Product details-->
        <div class="card-body pt-4 px-4 pb-0">
          <div class="text-center">
            <!-- Product name-->
            <p class="h5 card-text fw-bolder">Iphone 13</p>
            <!-- Product price-->
            $ 1 999,00
          </div>
          <div class="card-text">
            <div class="d-flex justify-content-center align-items-center">
              <div class="small-ratings">
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <p class="h6 card-text text-center review-count">12 Reviews</p>
              </div>
            </div>
          </div>
          <!-- Product actions -->
          <div class="text-center py-4">
            <a class="btn btn-outline-dark mt-auto btn-add-to-cart rounded" href="/cart/add">
              Add to cart
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <!-- Product Item 4 (Copy and paste for other items) -->
    <div class="col mb-4 item">
      <div class="card">
        <!-- Product image-->
        <div class="img-wrapper">
          <a href="/product4details.html">
            <img class="card-img-top img-zoom-hover img-fluid" src="../public/img/product 4.jpeg" alt="...">
          </a>
        </div>
        <!-- Product details-->
        <div class="card-body pt-4 px-4 pb-0">
          <div class="text-center">
            <!-- Product name-->
            <p class="h5 card-text fw-bolder">Iphone 12</p>
            <!-- Product price-->
            $ 999,00
          </div>
          <div class="card-text">
            <div class="d-flex justify-content-center align-items-center">
              <div class="small-ratings">
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star rating-color" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <p class="h6 card-text text-center review-count">12 Reviews</p>
              </div>
            </div>
          </div>
          <!-- Product actions -->
          <div class="text-center py-4">
            <a class="btn btn-outline-dark mt-auto btn-add-to-cart rounded" href="/cart/add">
              Add to cart
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav id="w1"></nav>
</div>